<section class="adv-section" id="advertisement">
  <div class="container">
    <div class="adv-container">
      <div class="adv-box">
        <h2 class="adv-title visually-hidden">Advertisement</h2>
        <p class="adv-text">
          Choose <span class="adv-grey-text">your story</span>, making every
          moment unique. Time is your style, and we reveal it.
        </p>
        <div class="adv-link-box">
          <a class="adv-link" href="#contact">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</section>
