<section class="catalog" id="catalog">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-items">
        <div class="catalog-container">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/catalog/fenix-7_desk@1x.png 1x,
                ./img/catalog/fenix-7_desk@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/catalog/fenix-7_tab@1x.png 1x,
                ./img/catalog/fenix-7_tab@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/catalog/fenix-7_mob@1x.png,
                ./img/catalog/fenix-7_mob@2x.png 2x
              "
              type="image/png"
            />

            <img
              src="./img/catalog/fenix-7_mob@1x.png"
              alt="fenix-7"
              loading="lazy"
            />
          </picture>
          <!-- <img
            class="catalog-img"
            src="../img/catalog/fenix-7_mob@1x.png"
            alt=""
            width="208px"
          /> -->
        </div>
        <h3 class="catalog-watch-name">Garmin Fenix 7X Pro Sapphire Solar</h3>
        <p class="catalog-warch-price">€500</p>
      </li>
      <li class="catalog-items">
        <div class="catalog-container">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/catalog/marq_desk@1x.png 1x,
                ./img/catalog/marq_desk@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/catalog/marq_tab@1x.png,
                ./img/catalog/marq_tab@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/catalog/marq_mob@1x.png,
                ./img/catalog/marq_mob@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./img/catalog/marq_mob@1x.png"
              alt="marq"
              loading="lazy"
            />
          </picture>
        </div>
        <h3 class="catalog-watch-name">Garmin Marq Athlete</h3>
        <p class="catalog-warch-price">€450</p>
      </li>
      <li class="catalog-items">
        <div class="catalog-container">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/catalog/descent_desk@1x.png 1x,
                ./img/catalog/descent_desk@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/catalog/descent_tab@1x.png,
                ./img/catalog/descent_tab@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/catalog/descent_mob@1x.png,
                ./img/catalog/descent_mob@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./img/catalog/descent_mob@1x.png"
              alt="descent"
              loading="lazy"
            />
          </picture>
        </div>
        <h3 class="catalog-watch-name">Garmin Descent MK1</h3>
        <p class="catalog-warch-price">€680</p>
      </li>
      <li class="catalog-items">
        <div class="catalog-container">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/catalog/delta_desk@1x.png 1x,
                ./img/catalog/delta_desk@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/catalog/delta_tab@1x.png,
                ./img/catalog/delta_tab@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/catalog/delta_mob@1x.png,
                ./img/catalog/delta_mob@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./img/catalog/delta_mob@1x.png"
              alt="descent"
              loading="lazy"
            />
          </picture>
        </div>
        <h3 class="catalog-watch-name">Garmin D2 Delta PX</h3>
        <p class="catalog-warch-price">€380</p>
      </li>
      <li class="catalog-items catalog-hidden">
        <div class="catalog-container">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/catalog/fenix-6_desk@1x.png 1x,
                ./img/catalog/fenix-6_desk@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/catalog/fenix-6_tab@1x.png,
                ./img/catalog/fenix-6_tab@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/catalog/fenix-6_tab@1x.png,
                ./img/catalog/fenix-6_tab@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./img/catalog/fenix-6_tab@1x.png"
              alt="fenix-6"
              loading="lazy"
            />
          </picture>
        </div>
        <h3 class="catalog-watch-name">Garmin Fenix 6 Pro Solar</h3>
        <p class="catalog-warch-price">€400</p>
      </li>
      <li class="catalog-items catalog-hidden">
        <div class="catalog-container">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/catalog/tube_desk@1x.png 1x,
                ./img/catalog/tube_desk@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/catalog/tube_tab@1x.png,
                ./img/catalog/tube_tab@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/catalog/tube_tab@1x.png,
                ./img/catalog/tube_tab@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./img/catalog/tube_tab@1x.png"
              alt="tube"
              loading="lazy"
            />
          </picture>
        </div>
        <h3 class="catalog-watch-name">
          Tube Watch S42 Date Steel With Black Case
        </h3>
        <p class="catalog-warch-price">€395</p>
      </li>
    </ul>
    <button class="catalog-button" type="button">Show more</button>
  </div>
</section>
