<section class="catalog" id="catalog">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-items">
        <div class="catalog-container">
          <img
            class="catalog-img"
            src="../img/catalog/fenix-7_mob@1x.png"
            alt=""
            width="208px"
          />
        </div>
        <h3 class="catalog-watch-name">Garmin Fenix 7X Pro Sapphire Solar</h3>
        <p class="catalog-warch-price">€500</p>
      </li>
      <li class="catalog-items">
        <div class="catalog-container">
          <img
            class="catalog-img"
            src="../img/catalog/marq_mob@1x.png"
            alt="1"
            width="208px"
          />
        </div>
        <h3 class="catalog-watch-name">Garmin Marq Athlete</h3>
        <p class="catalog-warch-price">€450</p>
      </li>
      <li class="catalog-items">
        <div class="catalog-container">
          <img
            class="catalog-img"
            src="../img/catalog/descent_mob@1x.png"
            alt="1"
            width="208px"
          />
        </div>
        <h3 class="catalog-watch-name">Garmin Descent MK1</h3>
        <p class="catalog-warch-price">€680</p>
      </li>
      <li class="catalog-items">
        <div class="catalog-container">
          <img
            class="catalog-img"
            src="../img/catalog/delta_mob@1x.png"
            alt="1"
            width="208px"
          />
        </div>
        <h3 class="catalog-watch-name">Garmin D2 Delta PX</h3>
        <p class="catalog-warch-price">€380</p>
      </li>
      <li class="catalog-items catalog-hidden">
        <div class="catalog-container">
          <img
            class="catalog-img"
            src="../img/catalog/fenix-6_tab@1x.png"
            alt="1"
            width="208px"
          />
        </div>
        <h3 class="catalog-watch-name">Garmin Fenix 6 Pro Solar</h3>
        <p class="catalog-warch-price">€400</p>
      </li>
      <li class="catalog-items catalog-hidden">
        <div class="catalog-container">
          <img
            class="catalog-img"
            src="../img/catalog/tube_tab@1x.png"
            alt="1"
            width="208px"
          />
        </div>
        <h3 class="catalog-watch-name">
          Tube Watch S42 Date Steel With Black Case
        </h3>
        <p class="catalog-warch-price">€395</p>
      </li>
    </ul>
    <button class="catalog-button" type="button">Show more</button>
  </div>
</section>
