<section class="contact-us" id="contact">
  <div class="container">
    <h2 class="contact-us-heading">Contact Us</h2>

    <!--Wrapper Form + Image-->

    <div class="contact-us-container-wrapper">
      <!--Container Form-->

      <div class="contact-us-container-form">
        <form class="contact-us-form">
          <p class="contact-us-paragraph-text">
            Please use the form below to contact us. Enter your name, email,
            phone, and message and we'll get back to you shortly.
          </p>
          <label class="contact-us-form-label" for="user_name">
            <input
              class="contact-us-input"
              id="user-name"
              type="text"
              name="user_name"
              required
              maxlength="40"
              placeholder="Name"
              pattern="[A-Za-z0-9]{6,}"
            />
          </label>
          <label class="contact-us-form-label" for="user_email">
            <input
              class="contact-us-input"
              id="user_email"
              type="email"
              name="user_email"
              required
              placeholder="Email"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            />
          </label>
          <label class="contact-us-form-label" for="user_phone">
            <input
              class="contact-us-input"
              id="user_phone"
              type="tel"
              name="user_phone"
              required
              placeholder="+380"
              pattern="^+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$"
            />
          </label>
          <label class="contact-us-form-label" for="comment-user">
            <textarea
              class="contact-us-textarea-input"
              name="comment-user"
              rows="5"
              required
              placeholder="Comment"
              maxlength="700"
            ></textarea>
          </label>
          <button class="btn-send" type="submit" aria-label="Button Send">Send</button>
        </form>
      </div>

      <!--Container Image-->

      <div class="contact-us-container-image">
        <picture class="contact-us-image">
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/contact/contact_desk@1x.jpg 1x,
              ./img/contact/contact_desk@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./img/contact/contact_tab@1x.jpg 1x,
              ./img/contact/contact_tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/contact/contact_mob@1x.jpg 1x,
              ./img/contact/contact_mob@2x.jpg 2x
            "
          />

          <img
            src="./img/contact/contact_mob@1x.jpg"
            alt="Watch"
             width="" 
            height="" 
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
