<footer class="end-page" id="scroll-footer">
  <div class="footer-container container">
    <div class="footer-content">
      <div class="footer-row">
        <div class="footer-logo-link">
          <a href="" class="footer-logo">watchcharm</a>
          <ul class="footer-socials-list">
            <li class="footer-socials">
              <a
                href="https://www.facebook.com/goITclub/"
                class="footer-social-link"
                target="_blank"
              >
                <svg class="footer-social-icon" width="18" height="18">
                  <use href="./img/icons.svg#icon-facebook" />
                </svg>
              </a>
            </li>
            <li class="footer-socials">
              <a
                href="https://www.instagram.com/goitclub/"
                class="footer-social-link"
                target="_blank"
              >
                <svg class="footer-social-icon" width="18" height="18">
                  <use href="./img/icons.svg#icon-instagram" />
                </svg>
              </a>
            </li>
            <li class="footer-socials">
              <a
                href="https://www.youtube.com/c/GoIT "
                class="footer-social-link"
                target="_blank"
              >
                <svg class="footer-social-icon" width="18" height="18">
                  <use href="./img/icons.svg#icon-youtube" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <a class="footer-phone-number" href="tel:+380684439426"
          >+380 (68) 443-94-26</a
        >
      </div>
      <p class="footer-large-text">
        Have the time of your life with our watches: where high-class
        craftsmanship meets impeccable design
      </p>
      <div class="footer-nav-container">
        <ul class="footer-nav-list">
          <li class="footer-nav-icon">
            <a class="footer-nav-link" href="../index.html">Home</a>
          </li>
          <li class="footer-nav-icon">
            <a href="#about" class="footer-nav-link">About Us</a>
          </li>
          <li class="footer-nav-icon">
            <a href="#catalog" class="footer-nav-link">Catalog</a>
          </li>
          <li class="footer-nav-icon">
            <a href="#sale" class="footer-nav-link">Sale</a>
          </li>
          <li class="footer-nav-icon">
            <a href="#review" class="footer-nav-link">Reviews</a>
          </li>
          <li class="footer-nav-icon">
            <a href="#contact" class="footer-nav-link">Contact Us</a>
          </li>
        </ul>
        <p class="footer-adress">1678 S. Pionee Road Salt Lake City UT 84104</p>
      </div>
      <div class="footer-down-content">
        <p>&#169;2023 The Watch Spot. All rights reserved.</p>
        <a class="confidential-link" href="#">Terms of Service</a>
        <a href="#">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
