<header class="header">
        <div class="container">
            <a class="logo-header" href="./index.html">watchcharm</a>

            <button class="btn_menu_header" area-lable="button open mobile menu">
                <svg width="34" height="34" class="menu_header_icon">
                    <use href="./img/icons.svg#icon-menu"></use>
                </svg>
            </button>


            <nav class="nav-header-desc">
                <ul class="nav-header-list-desc">
                <li class="nav-header-item-desc"><a href="#index.html">Home</a></li>
                <li class="nav-header-item-desc"><a href="#about.html">About Us</a></li>
                <li class="nav-header-item-desc"><a href="#catalog.html">Catalog</a></li>
                <li class="nav-header-item-desc"><a href="#sale.html">Sale</a></li>
                <li class="nav-header-item-desc"><a href="#review.html">Reviews</a></li>
                <li class="nav-header-item-desc"><a href="#contact.html">Contact Us</a></li>
                </ul>
            </nav>
    
            <ul class="socials-header-desc">
                <li class="socials-header-list-desc">
                    <a href="https://www.facebook.com/goITclub/" class="socials-header-link-desc" target="_blank" area-lable="Facebook link">
                        <svg class="header-icon-desc" width="18" height="18">
                            <use href="../img/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials-header-list" class="socials-header-link-desc" target="_blank" area-lable="instagram link">
                    <a href="https://www.instagram.com/goitclub/">
                        <svg class="header-icon-desc" width="18" height="18">
                            <use href="../img/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials-header-list" class="socials-header-link-desc" target="_blank" area-lable="youtube link">
                    <a href="https://www.youtube.com/c/GoIT ">
                        <svg class="header-icon-desc" width="18" height="18">
                            <use href="../img/icons.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </header>


<!-- #region mobile_menu -->
    <div class="menu_header">
        <button class="btn-close-header-menu" area-lable="button clase menu header">
            <svg class="close-header-icon" width="17" height="17">
                <use href="./src/img/icons.svg#icon-x-close"></use>
            </svg>
        </button>
        <nav class="nav-header">
            <ul class="nav-header-list">
            <li class="nav-header-item"><a href="#index.html">Home</a></li>
            <li class="nav-header-item"><a href="#about.html">About Us</a></li>
            <li class="nav-header-item"><a href="#catalog.html">Catalog</a></li>
            <li class="nav-header-item"><a href="#sale.html">Sale</a></li>
            <li class="nav-header-item"><a href="#review.html">Reviews</a></li>
            <li class="nav-header-item"><a href="#contact.html">Contact Us</a></li>
            </ul>
        </nav>

        <ul class="socials-header">
            <li class="socials-header-list">
                <a href="https://www.facebook.com/goITclub/" class="socials-header-link" target="_blank" area-lable="Facebook link">
                    <svg class="header-icon facebook" width="18" height="18">
                        <use href="./src/img/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="socials-header-list" class="socials-header-link" target="_blank" area-lable="instagram link">
                <a href="https://www.instagram.com/goitclub/">
                    <svg class="header-icon instagram" width="18" height="18">
                        <use href="./src/img/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="socials-header-list" class="socials-header-link" target="_blank" area-lable="youtube link">
                <a href="https://www.youtube.com/c/GoIT ">
                    <svg class="header-icon youtube" width="18" height="18">
                        <use href="./src/img/icons.svg#icon-youtube"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</header>
