<header class="header">
  <div class="container">
    <a class="logo-header" href="./index.html">watchcharm</a>
    <button
      id="openButton"
      class="btn_menu_header"
      type="button"
      aria-label="button open mobile menu"
    >
      <svg width="34" height="34" class="menu_header_icon">
        <use href="./img/icons.svg#icon-menu"></use>
      </svg>
    </button>
    <nav class="nav-header-desc">
      <ul class="nav-header-list-desc">
        <li class="nav-header-item-desc-home"><a href="#index">Home</a></li>
        <li class="nav-header-item-desc"><a href="#about">About Us</a></li>
        <li class="nav-header-item-desc"><a href="#catalog">Catalog</a></li>
        <li class="nav-header-item-desc"><a href="#sale">Sale</a></li>
        <li class="nav-header-item-desc"><a href="#review">Reviews</a></li>
        <li class="nav-header-item-desc"><a href="#contact">Contact Us</a></li>
      </ul>
    </nav>
    <ul class="socials-header-desc">
      <li class="socials-header-link-desc">
        <a
          class="link-header-desc"
          href="https://www.facebook.com/goITclub/"
          aria-label="Facebook link"
          rel="noopener noreferrer"
          target="_blank"
        >
          <svg class="header-icon-desc" width="20" height="20">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li
        class="socials-header-link-desc"
        aria-label="instagram link"
        rel="noopener noreferrer"
        target="_blank"
      >
        <a class="link-header-desc" href="https://www.instagram.com/goitclub/">
          <svg class="header-icon-desc" width="20" height="20">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li
        class="socials-header-link-desc"
        aria-label="youtube link"
        rel="noopener noreferrer"
        target="_blank"
      >
        <a class="link-header-desc" href="https://www.youtube.com/c/GoIT">
          <svg class="header-icon-desc" width="20" height="20">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>

<div id="backdrop" class="backdrop">
  <div class="menu_header">
    <button
      id="closeButton"
      class="btn-close-header-menu"
      type="button"
      aria-label="button close menu header"
    >
      <svg class="close-header-icon" width="17" height="17">
        <use href="./img/icons.svg#icon-x-close"></use>
      </svg>
    </button>
    <nav class="nav-header">
      <ul class="nav-header-list">
        <li class="nav-header-item home"><a href="#index">Home</a></li>
        <li class="nav-header-item"><a href="#about">About Us</a></li>
        <li class="nav-header-item"><a href="#catalog">Catalog</a></li>
        <li class="nav-header-item"><a href="#sale">Sale</a></li>
        <li class="nav-header-item"><a href="#review">Reviews</a></li>
        <li class="nav-header-item"><a href="#contact">Contact Us</a></li>
      </ul>
    </nav>
    <ul class="socials-header">
      <li class="socials-header-list">
        <a
          class="link-header-mobil"
          href="https://www.facebook.com/goITclub/"
          aria-label="facebook link"
          rel="noopener noreferrer"
          target="_blank"
        >
          <svg class="header-icon" width="18" height="18">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="socials-header-list">
        <a
          class="link-header-mobil"
          href="https://www.instagram.com/goitclub/"
          aria-label="instagram link"
          rel="noopener noreferrer"
          target="_blank"
        >
          <svg class="header-icon" width="18" height="18">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="socials-header-list">
        <a
          class="link-header-mobil"
          href="https://www.youtube.com/c/GoIT"
          aria-label="youtube link"
          rel="noopener noreferrer"
          target="_blank"
        >
          <svg class="header-icon" width="18" height="18">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>

<script src="../main.js"></script>
