<section class="hero-section">
  <div class="container">
    <div class="hero-container">
      <div class="hero-title-box">
        <h1 class="hero-title">
          Welcome to our <span class="hero-title_color">collection</span> of
          premium watches
        </h1>

        <p class="hero-paragraph">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>

      <div class="hero-image-box">
        <picture>
          <source
          media="(min-width: 320px)"
          srcset=""
          />

          <source
          media="(min-width: 768px)"
          srcset=""
          />

          <source
          media="(min-width: 1280px)"
          srcset=""
          />

          <img
          class="hero-box_image"
          src=""
          alt="hero-box_image"
          width="108"
          height="44"
          loading="lazy"
        />
        </picture>

        <a class="hero-link-down" href="">Scroll down</a>
      </div>

      <picture>
          <source
          media="(min-width: 320px)"
          srcset=""
          />

          <source
          media="(min-width: 768px)"
          srcset=""
          />

          <source
          media="(min-width: 1280px)"
          srcset=""
          />

      <img 
      src="" 
      alt="hero-main-image" 
      width="704" 
      height="520" />
      </picture>

    </div>
  </div>
</section>
