<section class="sale">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-pictures">
      <div class="sale-picture">
        <ul class="sale-list">
          <li class="sale-list-item">
            <picture class="sale-list-picture">
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/sale/small-1_desk_tab@1x.png 1x,
                  ./img/sale/small-1_desk_tab@1x.png 2x
                "
                type="image/png"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/sale/small-1_mob@1x.png 1x,
                  ./img/sale/small-1_mob@2x.png 2x
                "
                type="image/png"
              />
              <img
                src="../img/sale/small-1_desk_tab@1x.png"
                alt="Watch"
                width="96"
                height="100"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="sale-list-item">
            <picture class="sale-list-picture">
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/sale/small-2_desk_tab@1x.png 1x,
                  ./img/sale/small-2_desk_tab@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/sale/small-2_mob@1x.png 1x,
                  ./img/sale/small-2_mob@2x.png 2x
                "
                type="image/png"
              />
              <img
                src="./img/sale/small-2_mob@1x.png"
                alt="Watch 2"
                width="52"
                height="54"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="sale-list-item">
            <picture class="sale-list-picture">
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/sale/small-3_desk_tab@1x.png 1x,
                  ./img/sale/small-3_desk_tab@1x.png 2x
                "
                type="image/png"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/sale/small-3_mob@1x.png 1x,
                  ./img/sale/small-3_mob@2x.png 2x
                "
                type="image/png"
              />
              <img
                src="./img/sale/small-3_mob@1x.png"
                alt="Watch 3"
                width="52"
                height="54"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="sale-list-item">
            <picture class="sale-list-picture">
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/sale/small-4_desk_tab@1x.png 1x,
                  ./img/sale/small-4_desk_tab@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/sale/small-4_mob@1x.png 1x,
                  ./img/sale/small-4_mob@2x.png 2x
                "
                type="image/png"
              />
              <img
                src="./img/sale/small-4_mob@1x.png"
                alt="Watch 4"
                width="52"
                height="54"
                loading="lazy"
              />
            </picture>
          </li>
        </ul>
        <picture class="sale-list-watch">
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/sale/big-pic_desk_tab@1x.png 1x,
              ./img/sale/big-pic_desk_tab@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/sale/big-pic_mob@1x.png 1x,
              ./img/sale/big-pic_mob@2x.png 2x
            "
            type="image/png"
          />
          <img
            src="./img/sale/big-pic_mob@1x.png"
            alt="Main Watch"
            width="328"
            height="398"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="sale-desc">
        <h3 class="sale-desc-title">
          MARQ&#174; Commander (Gen 2) - Carbon Edition
        </h3>
        <p class="sale-desc-number">Product tag: 706587</p>
        <div class="sale-prises">
          <p class="sale-price">&#8364;1500</p>
          <p class="sale-old-price">&#8364;3000</p>
        </div>
        <p class="sale-desc-text">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="sale-watch-types">
          <li>
            <p class="sale-watch-type">Fused carbon fiber</p>
          </li>
          <li>
            <p class="sale-watch-type">Grade-5 Titanuim</p>
          </li>
          <li>
            <p class="sale-watch-type">Athlete</p>
          </li>
          <li>
            <p class="sale-watch-type">Golfer</p>
          </li>
          <li>
            <p class="sale-watch-type">Commander</p>
          </li>
          <li>
            <p class="sale-watch-type">Adventurer</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
