.adv-section {
  padding: 30px 0;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .adv-section {
    padding: 40px 0;
  }
}

@media only screen and (min-width: 1280px) {
  .adv-section {
    padding: 50px 0;
  }
}

.adv-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  border-radius: 30px;
  padding: 60px 28px;
  background: #0c0c0c;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/advertisement/adv_mob@1x.png);
}

@media (min-resolution: 192dpi) {
  .adv-box {
    background-image: url(../img/advertisement/adv_mob@2x.png);
  }
}

@media only screen and (min-width: 768px) {
  .adv-box {
    background-image: url(../img/advertisement/adv_tab@1x.png);
    padding: 80px 64px;
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .adv-box {
    background-image: url(../img/advertisement/adv_tab@2x.png);
  }
}

@media only screen and (min-width: 1280px) {
  .adv-box {
    justify-content: space-between;
    background-image: url(../img/advertisement/adv_desk@1x.png);
    flex-direction: row;
    align-items: flex-start;
    padding: 83px 80px;
  }
}

@media only screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .adv-box {
    background-image: url(../img/advertisement/adv_desk@2x.png);
  }
}

.adv-grey-text {
  color: rgba(251, 251, 251, 0.5);
}

.adv-text {
  height: 167px;
  color: #fbfbfb;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.64px;
  margin-bottom: 28px;
}

@media only screen and (min-width: 768px) {
  .adv-text {
    height: 185px;
    font-size: 48px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.96px;
    margin-bottom: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .adv-text {
    height: 100%;
    width: 690px;
    margin-bottom: 0;
  }
}

.adv-link-box {
  width: 160px;
  height: 48px;
  background-color: transparent;
  text-align: center;
  border-radius: 16px;
  border: 1px solid rgba(251, 251, 251, 0.15);
  padding: 12px 0;
}

.adv-link-box > a {
  color: #fbfbfb;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
}

.adv-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
