.contact-us .container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.contact-us-heading {
  text-align: left;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}

.contact-us-form {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding: 48px 28px;
  max-width: 335px;
  
  max-height: 100%;
  background: #f3f3f3;
  margin-bottom: 20px;
}

.contact-us-label-text {
  max-width: 279px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 28px;
}

.contact-us-input {
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding: 12px 136px 12px 14px;
  max-width: 279px;
  max-height: 42px;
  outline: transparent;
  margin-bottom: 18px;
}

.contact-us-textarea-input {
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  outline: transparent;
  padding-top: 12px;
  padding-left: 14px;
  width: 279px;
  height: 84px;
  margin-bottom: 28px;
}
.contact-us-input:focus,
.contact-us-textarea-input:focus {
  border: 1px solid #3350E9;
}

.btn-send {
  border-radius: 16px;
  padding: 12px 50px;
  width: 134px;
  height: 42px;
  background-color: #3350e9;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  border: none;
}

.contact-us-image {
  margin: 0 auto;
  max-width: 335px;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}