.hero-section {
  padding-top: 60px;
  padding-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .hero-section {
    padding-top: 80px;
  }
}

.hero-main-box {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
   .hero-main-box {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .hero-main-box {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 768px) {
  .hero-title-box {
    width: 557px;
    height: 260px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-title-box {
    width: 597px;
    height: 269px;
  }
}

.hero-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 1278px) {
  .hero-title {
    font-size: 70px;
    line-height: 0.85;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-title {
    font-size: 72px;
    line-height: 0.87;
    letter-spacing: -0.02em;
  }
}

.hero-title_color {
  color: #3350e9;
}

.hero-paragraph {
  margin-bottom: 28px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

@media only screen and (min-width: 768px) {
  .hero-paragraph {
    font-size: 16px;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1280px) {
   .hero-paragraph{
    width: 480px;
  }
}

.hero-image-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 28px;
}

@media only screen and (min-width: 768px) {
  .hero-image-box {
    margin-left: auto;
    margin-bottom: 0;
    flex-direction: column;
    width: 136px;
    height: 260px;
  }
}

@media only screen and (min-width: 1280px) {
   .hero-image-box{
    width: 146px;
    height: 269px;
  }
}

.hero-link-down {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-decoration: underline;
  color: #0c0c0c;
  background-color: transparent;
  border: 0;
}

@media only screen and (min-width: 768px) {
  .hero-link-down {
    margin-top: auto;
    font-size: 20px;
    line-height: 1;
  }
}

.hero-main-photo {
  border-radius: 30px;
}

@media only screen and (min-width: 768px) {
   .hero-main-photo {
    border-radius: 50px;
  }
}