.review {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .review {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media only screen and (min-width: 1280px) {
  .review {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.container {
}
.review-container {
}

.review-title {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.64px;
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .review-title {
    font-size: 48px;
    line-height: 0.92;
    letter-spacing: -0.96px;
    margin-bottom: 40px;
  }
}
.review-list {
  display: flex;
}

@media (max-width: 767px) {
  .review-list .review-card:nth-child(n + 2) {
    display: none;
  }
  .review-list {
    column-gap: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .review-list .review-card:nth-child(n + 3) {
    display: none;
  }
  .review-list {
    column-gap: 20px;
  }
}

@media (min-width: 1280px) {
  .review-list {
    column-gap: 20px;
  }
}

.review-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 36px;
  border-radius: 30px;
  background: #f3f3f3;
  max-width: 335px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .review-card {
    max-width: 344px;
  }
}

@media (min-width: 1280px) {
  .review-card {
    max-width: 370px;
  }
}

.review-img {
  width: 56px;
  height: 56px;
  margin-bottom: 24px;
  border-radius: 50%;
  object-fit: cover;
}

.reviewer-name {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.32px;
  margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  .reviewer-name {
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.36px;
  }
}

.review-text {
  color: rgba(12, 12, 12, 0.4);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.28px;
}

@media only screen and (min-width: 768px) {
  .review-text {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.32px;
  }
}
