.sale .container {
  padding: 30px 0;
}

@media only screen and (min-width: 768px) {
  .sale .container {
    padding: 40px 0;
  }
}

@media only screen and (min-width: 1280px) {
  .sale .container {
    padding: 50px 0;
  }
}

.sale-title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
}

@media only screen and (min-width: 768px) {
  .sale-title {
    margin-bottom: 40px;
  }
}

.sale-pictures {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media only screen and (min-width: 1280px) {
  .sale-pictures {
    flex-direction: row;
  }
}

.sale-picture {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media only screen and (min-width: 768px) {
  .sale-picture {
    flex-direction: row;
  }
}

.sale-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

@media only screen and (min-width: 768px) {
  .sale-list {
    flex-direction: column;
    gap: 10px;
  }
}

.sale-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 16px;
  background-color: #f3f3f3;
}

@media only screen and (min-width: 768px) {
  .sale-list-item {
    width: 132px;
    height: 132px;
  }
}

.sale-list-watch {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  width: 100%;
  background-color: #f3f3f3;
}

.sale-desc {
  padding: 48px 28px;
  border-radius: 30px;
  background-color: #3350e9;
}

@media only screen and (min-width: 768px) {
  .sale-desc {
    padding: 60px;
  }
}

.sale-desc-title {
  max-width: 436px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.48px;
  color: #fbfbfb;
}

.sale-desc-article {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.28px;
  color: rgba(251, 251, 251, 0.5);
}

.sale-price {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 68px;
  height: 32px;
  padding: 8px 12px;
  color: #fbfbfb;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.32px;
  border: transparent;
  border-radius: 8px;
  background-color: rgba(251, 251, 251, 0.1);
}
